.right {
    grid-area: right;
    background-color: rgb(226, 216, 216);
    margin: 20rem;
    padding: 10rem;
    // display:grid;
    // grid-template-columns: 100%;
    // grid-template-rows: 100px;
}

.brands {
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    margin-top:2rem;
    // height: 30px;
}