.shop {
    grid-area: main;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(auto-fill, 480px);
    grid-gap: 1rem;
    padding:1rem;
    background-color: burlywood;
    justify-content: center;
    max-height:88vh;
    overflow-y: scroll;
}