body {
    margin: 2px;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "left main"
        "footer footer";
    grid-template-columns: minmax(130px,12vw) minmax(800px, auto);
    grid-template-rows: 9vh 88.4vh 2vh;
    .header {
        grid-area: header;
    }
    .left {
        grid-area: left;
        overflow-y: auto;
    }
    .main {
        grid-area: main;
        overflow-y: auto;
    }
    .footer {
        grid-area: footer;
    }
}
