body {
    margin: 2px;
}

.container {
    display: grid;
    grid-template-columns: minmax(0px,180px) minmax(600px, auto) ;
    grid-template-rows: 52px auto 32px;
    grid-template-areas:
        "header header"
        "left main"
        "footer footer";

    .footer {
        grid-area: footer;
        background-color: #5f84b1;
        color: white;
        font-size: 14px;
        font-family: monospace;
    }
}