body{
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: minmax(200px,22%) minmax(600px, auto) minmax(200px, 22%);
    grid-template-rows: 45px auto 45px;
    grid-template-areas:
        "header header header"
        "left main right"
        "footer footer footer";
    grid-gap: 1px;
    // min-height: 100vh;
    // height: auto;

    .header {
        grid-area: header;
        background-color: #5f84b1;
        color:white;
        // margin-left: 5px;
        // margin-right: 5px;
        // display: grid;
        // grid-template-columns: minmax(150px, 28%) minmax(600px, auto) minmax(150px, 22%);
        // grid-template-rows: auto;
        // grid-template-areas: "header-left header-middle header-right";
        font-family: monospace;
    }

    .footer {
        grid-area: footer;
        background-color: #5f84b1;
        // margin-left: 5px;
        // margin-right: 5px;
        // margin-bottom: 2px;
        color: white;
        font-size: 14px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        font-family: monospace;
    }
}
