body {
    margin: 2px;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "left main"
        "footer footer";
    grid-template-columns: minmax(130px,12vw) minmax(800px, auto);
    grid-template-rows: 9vh 88.4vh 2vh;
    .header {
        grid-area: header;
    }
    .left {
        grid-area: left;
        overflow-y: auto;
    }
    .main {
        grid-area: main;
        overflow-y: auto;
    }
    .footer {
        grid-area: footer;
        background: #343a40;
        text-align: center;
        color: white;
        line-height: 2vh;
        font-size: .7em;
    }
}

// .container {
//     display: grid;
//     grid-template-columns: minmax(0px,180px) minmax(600px, auto) ;
//     grid-template-rows: 52px auto 32px;
//     grid-template-areas:
//         "header header"
//         "left main"
//         "footer footer";

//     .footer {
//         grid-area: footer;
//         background-color: #5f84b1;
//         color: white;
//         font-size: 14px;
//         font-family: monospace;
//     }
// }