body {
    margin: 2px;
}

.container {
    display: grid;
    grid-template-columns: minmax(0px,250px) minmax(600px, auto) minmax(0px, 220px);
    grid-template-rows: 48px auto 32px;
    grid-template-areas:
        "header header header"
        "left main right"
        "footer footer footer";
    grid-gap: 1px;
    min-height: 99.5vh;
    height: auto;

    // .right {
    //     background-color: aqua
    // }

    .footer {
        grid-area: footer;
        background-color: #5f84b1;
        color: white;
        font-size: 14px;
        font-family: monospace;
    }
}