.main {
  grid-area: main;
  background-color: burlywood;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 300px;
  grid-gap: 2px;

  // .product {
  //   display: grid;
  //   grid-template-columns: 300px auto;
  //   grid-template-rows: 250px;
  //   grid-template-areas: "picture details";
  // }

  // .picture {
  //   grid-area: picture;
  // }

  // .details {
  //   grid-area: details;
  // }
}
.product {
  background-color: brown;
  color: white;
  display: grid;
  grid-gap:2px;
  grid-template-columns: 300px auto;
  grid-template-rows: 100%;
  grid-template-areas: "picture details";
}
.picture{
  grid-area: picture;
  background-color: aqua;
  display:flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.details{
  grid-area: details;
  background-color: cornflowerblue;
}
