.showcase {
    grid-area: main;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: 1fr;
    height: 94vh;
}

.category {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 200px;
    grid-gap: 4rem;
    overflow-x: auto;
    margin-left: 2rem;
}

.heading {
    margin: 1rem 1rem 1rem 2rem;
    font-size: 1.5em;
    font-weight: bold;
}

.details {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.name {
    font-weight: bold;
}

.showcaseContainer{
    padding: 2rem;
}