.header {
    grid-area: header;
    background-color: #5f84b1;
    // color: white;
    display: grid;
    grid-template-columns: 250px auto 200px;
    grid-auto-rows: 38px;
    grid-template-areas: "header-left header-main header-right";
    font-family: monospace;
}

.headerLeft {
    grid-area: header-left;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
    a {
        color: white;
        text-decoration: none;
    }
}

.headerMain {
    grid-area: header-main;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    a {
        margin-right: 30px;
        // color: white;
        text-decoration: none;
    }

    // a:link {
    //     color: white;
    // }

    a:hover {
        color: red;
    }

    // a:active {
    //     color: red;
    // }
}

.link{
    color:white;
}

.active {
    color: red;
}

.headerRight {
    grid-area: header-right;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;

    a {
        // margin-left: 10px;
        color: white;
    }
}