.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    background: #343a40;
}

.brandName {
    align-self: center;
    margin: 0px 1rem 0 1rem;
    color: white;
    font-style: italic;
}
.menu {
    align-self: center;
    flex: 1 0 0px;
    flex-grow: 1;
    font-size: 1.2em;
    a {
        color: white;
        margin: 0 20px 0 0;
    }
    a[aria-current="page"] {
        color: aquamarine;
    }
}
.brandLogo {
    align-self: center;
    padding: 0 5rem 0 1rem;
}