.mark-down{
    margin: 2rem;
    font-size: 1.3rem;
    width:75%;
    text-align: justify;
    height:90vh;
    overflow-y: scroll;
    margin: auto;
    // font-family: 
    // font-style: italic;
}