.showcase {
    grid-area: main;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 200px;
    // grid-template-columns: 1fr;
}

.category {
    display: grid;
    grid-auto-flow: column;
<<<<<<< HEAD
    grid-template-columns: 200px;
    grid-gap: 4rem;
    overflow-x: auto;
    margin-left:2rem;
    
    // background-color: antiquewhite;
}

.heading{
    margin-left:2rem;
}

.details{
    margin-top:1rem;
    margin-bottom: 2rem;
=======
    grid-gap: 4rem;
    overflow-x: auto;
    padding: 2rem;
    // height: 320px;
>>>>>>> ed086e5242b5290b4548584f47dc6a3e40d3cbf5
}

.name{
    font-weight: bold;
}